<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10s.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,880},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>10h.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,734},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>10c.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,880},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>10d.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,734},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>11s.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,624},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>11h.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,552},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>11c.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,552},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>11d.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,770},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>12s.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,624},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>12h.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,478},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>12c.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,442},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>12d.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,442},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>13s.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,442},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>13h.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,332},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>13c.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,332},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>13d.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,332},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>14j.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,332},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>15j.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,770},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>1s.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,624},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>1h.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,478},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,332},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,222},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>2s.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,222},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>2h.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,222},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,222},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,806},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>3s.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,660},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>3h.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,514},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>3c.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,368},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>4s.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,112},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>4h.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,112},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>4c.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,112},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>4d.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,112},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>5s.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,112},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>5h.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,842},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>5c.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,696},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>5d.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,550},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>6s.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,404},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>6h.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,258},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>6c.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>6d.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>7s.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>7h.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>7c.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>7d.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>8s.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>8h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>8c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>8d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>9s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>9h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>9c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
            <key>9d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,144}}</string>
                <key>sourceSize</key>
                <string>{108,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0ac07d15a8a78b062ed322d7f209250:1/1$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
